[importlinter]
root_package = schema_tools

[importlinter:contract:layers]
name = node <- walk <- spec layering
type = layers
layers =
    schema_tools.spec
    schema_tools.walk
    schema_tools.node
