#ifndef {{ guard }}
#define {{ guard }}
#include <stdbool.h>
#include <stdint.h>

{% for decl in decls %}
{% if decl is struct_decl %}
struct {{ decl.ctype.name }} {
{% for f in decl.fields %}
    {{ (f.ctype | qualifier ~ ' ' ~ f.ctype.name) | trim }} {{ f.name }}{{ f.ctype.dims | dimensions }};
{% endfor %}
};
{% elif decl is union_decl %}
union {{ decl.ctype.name }} {
{% for v in decl.variants %}
    {{ (v.ctype | qualifier ~ ' ' ~ v.ctype.name) | trim }} {{ v.name }}{{ v.ctype.dims | dimensions }};
{% endfor %}
};
{% endif %}

{% endfor %}
{% for decl in decls %}
{% if decl is struct_decl and decl is user_decl %}
int32_t {{ prefix }}decode_{{ decl.ctype.name }}_tok(
    struct {{ decl.ctype.name }} *dst,
    const char *src,
    uint32_t slen,
    jsmntok_t *toks,
    uint32_t ntoks);

int32_t {{ prefix }}decode_{{ decl.ctype.name }}(
    struct {{ decl.ctype.name }} *dst,
    const char *src,
    uint32_t slen);

int32_t {{ prefix }}encode_{{ decl.ctype.name }}(
    uint8_t *dst,
    uint32_t dlen,
    const struct {{ decl.ctype.name }} *src);

uint32_t {{ prefix }}len_{{ decl.ctype.name }}(const struct {{ decl.ctype.name }} *val);

{% endif %}
{% endfor %}
#endif /* {{ guard }} */
