#include "{{ header }}"
#include "runtime.h"
#include <stddef.h>

static const char rt_names[] =
{% for offset, name in blob.strings() %}
    "{{ name }}\0" /* {{ offset }} */
{% endfor %}
;

{% set arrays = descriptors | arrays %}
{% if arrays %}
static const struct rt_array rt_arrays[] = {
{% for a in arrays %}
    /* [{{ loop.index0 }}] {{ a | comment }} */
    { {{ a | array_kind }}, 0, {{ a.max }}, {{ a | elem_size }}, {{ a | elem_expr }} },
{% endfor %}
};

{% endif %}
static const struct rt_field rt_fields[] = {
{% for f in descriptors | fields %}
    /* [{{ loop.index0 }}] {{ f | comment }} */
    { {{ f | name_offset }}, {{ f | value_offset }}, {{ f | present_offset }}, {{ f | type_expr }} },
{% endfor %}
};

static const struct rt_struct rt_structs[] = {
{% for s in descriptors | structs %}
    /* [{{ loop.index0 }}] {{ s | comment }} */
    { {{ s.nfields }}, 0, {{ s | size_expr }}, {{ s.ntoks }}, {{ s.field0 }} },
{% endfor %}
};

{% for s in descriptors | structs %}
#define RT_IDX_{{ s.ctype.name | upper }} {{ loop.index0 }}
{% endfor %}
